@import url(common.css);
@import url(index.css);

.milsians_box{
  width: 96%;
  height: 700px;
  background: rgba(255, 255, 255, 0.705);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(18);
  border-radius: 10px;
  border: 1.5px solid #b8b8b8;
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  color:#24130F;
}
.mils_imgbox{
  width: 620px;
  height: 700px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.mils_imgbox>img{width: 650px;}

.milstext{
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 30px 0;
  margin-left: 80px;
}

.milstext>li>p{
  display: inline;
  font-weight: bold;
}

.milstext>li>span{
  color:#24130F;
}
.mils_introduce>h1{
margin-top:30px;
padding-bottom: 10px;
border-bottom: 1px solid #ffffff4f;
margin-left: 50px;
}


.miltextbox2{
margin-top: 20px;
  height: 420px;
  overflow: scroll;
  overflow-x: hidden;
}
.miltextbox2::-webkit-scrollbar {
  width: 5px;
}
.miltextbox2::-webkit-scrollbar-track {
  background-color: rgba(253, 254, 255, 0);
}
.miltextbox2::-webkit-scrollbar-thumb { 
  background-color: rgba(36.19.15,0.5);
   border-radius: 10px;
}

.textbox{
  display: flex;
  border-bottom: 1px solid #fff;
  padding: 30px 0px;
  margin-left: 80px;
}
.textbox>.p{
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}
.text_list{
  line-height: 28px;
  color:#24130F;
  width: 900px;
}
.newimg{
  display: flex;
  justify-content:space-around;
}
.newimg>li{
  width: 200px;
  height: 200px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
}
#play-pause-button{
opacity: 0;
}
.name_img{
  position: absolute;
  top:80px;
  left:-50px;
  z-index: 100;
  width: 450px;
}
.name_img2{ 
  position: absolute;
  top:80px;
  left:-50px;
  z-index: 100;
  width: 450px;}

  .link_box>ul{
    margin-left: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
  }

  .link_box>ul>li{
    width:200px;
    height: 60px;
    margin: 20px;
    padding-left: 20px;
    border-radius:10px;
    background-color: #ffffff62;
    transition: 0.4s;
  }
  .link_box>ul>li:hover{
    background-color: #fff;

  }

  
  .link_box>ul>li>a>p{
    padding-top:10px;
    font-size: 16px;
  }

  .link_box>ul>li>a>span{
color:#858585;
font-size: 14px;
  }
